@model AplicatieSalariati.Models.Pacient

@{
    ViewBag.Title = "Detalii";
}

<h2>Detalii</h2>

<div>
    <hr />
    <p>
        <b>
            @Html.DisplayNameFor(model => model.CNP)
        </b>: @Html.DisplayFor(model => model.CNP)
    </p>

    <p>
        <b>
            @Html.DisplayNameFor(model => model.Nume)
        </b>: @Html.DisplayFor(model => model.Nume)
    </p>

    <p>
        <b>
            @Html.DisplayNameFor(model => model.Prenume)
        </b>: @Html.DisplayFor(model => model.Prenume)
    </p>

    <p>
        <b>
            @Html.DisplayNameFor(model => model.Email)
        </b>:  @Html.DisplayFor(model => model.Email)
    </p>

    <p>
        <b>
            @Html.DisplayNameFor(model => model.Adresa)
        </b>: @Html.DisplayFor(model => model.Adresa)
    </p>

    <p>
        <b>
            @Html.DisplayNameFor(model => model.Numartelefon)
        </b>: @Html.DisplayFor(model => model.Numartelefon)
    </p>
    <p>
        <b>
            @Html.DisplayNameFor(model => model.Sex)
        </b>: @Html.DisplayFor(model => model.Sex)
    </p>
    <p>
        <b>
            @Html.DisplayNameFor(model => model.DataNasterii)
        </b>: @Html.DisplayFor(model => model.DataNasterii)
    </p>
    <p>
        <b>
            @Html.DisplayNameFor(model => model.ActIdentitate)
        </b>
        : @Html.DisplayFor(model => model.ActIdentitate)
    </p>

    <p>---------------------------------------------------------------------</p>


    @foreach (var istoric in Model.Istorics)
    {
        <p>
            <b>
                Diagnostic
                @*@Html.DisplayFor(model => model.Istorics.)*@
            </b>
            : @istoric.Diagnostic
        </p>
    }


</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CNP }) |
    @Html.ActionLink("Vizualizare Angajati", "Index", "Angajat", new { type = "View" }, null)
</p>
